body{
	background-color: white;
	background-image: url(NOPC%20reworked-1-1.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position:center;
	background-attachment: fixed;
	background-color: white;
}


/* Navigation Details, Adjust size and styling */
nav{
	margin: auto;
	width: 50%;
    
}

.container{
    border-style: groove;
    border-width: medium;
    border-color: red;
    
    background-color: white;
    margin: auto;
}

/* Intro Container styles */

#intro{
    margin: auto;
    float: inherit;
    opacity: 0.99;
    
    margin-top: 100px;
    
}


header{
	color: deepskyblue;
	text-decoration: underline;

	font-family: tinos;
	font-style: normal;
	font-size: 45px;

	text-align: center;
}


p{   
    font-size: 18px;
    text-align: center;
}




#fall{
    padding: 20px;
    height: 100%x;
	margin: auto;

    margin-top: 100px;
}






button.btn{
    background-color: white;
    color: deepskyblue;
    border-color: red;
    border-width: medium;
}

#spec{
    border-style: groove;
    border-width: medium;
    border-color: red;
    
    background-color: white;
    margin: auto;
}


#Modal2{
    border-style: groove;
    border-width: medium;
    border-color: red;
    
    background-color: white;
    margin: auto;
   
}

#Modal3{
    border-style: groove;
    border-width: medium;
    border-color: red;
    
    background-color: white;
    margin: auto;  
}

#currentEvents{
    
    
    margin: auto;
    margin-top: 100px;
    margin-left: 50px;
    opacity: 0.9;
   
}


#schedule{ 
    margin: auto;
    
    
}

#harvest{  
    
    margin: auto;
   
}


section#weather{
    
    height: 250px;
    
    margin: auto;
    margin-top: 100px;
    margin-left: 50px;
    
    
    background-color: white;   
    border-style: groove;
    border-width: medium;
    border-color: red;
    
    opacity: 0.95;
}

#social{
    height: 100px;
    
    margin: auto;
    
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
    opacity: 0.9;

}




#foot{
   
    margin: auto;
    margin-top: 50px; 
    height: 250px;
}




table{
    
    
    padding: 15px;
}
